# Task 3: Data Cleaning Practice

In [1]:
import pandas as pd

## Step 1: Load dataset

In [2]:
df = pd.read_csv('raw_data.csv')

In [3]:
# Keep a copy of original data for comparison
df_original = df.copy()

print("=== Original Data ===")
print(df_original)

=== Original Data ===
       Name     Age   Score         Joined
0     Alice      25      85     2021-05-10
1       Bob     NaN      78     2021-06-15
2   Charlie      30     NaN     2021-07-01
3     David      28      88     2021-05-10
4       Eve      27      85  Not Available
5       Bob     NaN      78     2021-06-15
6     Frank  twenty      90     2021-07-15
7     Grace      35     NaN     2021-08-01
8    Hannah      40      95     2021-08-10
9       Ian      22      60   Invalid Date
10     Jack     NaN      70     2021-09-05
11    Kelly      29  eighty     2021-09-15
12     Liam      33     NaN     2021-09-25
13      Mia     NaN      77     2021-10-01
14     Noah      31      82     2021-10-10

## Step 2: Check for missing data

In [4]:
print("\n=== Missing Values (Before Cleaning) ===")
print(df_original.isnull().sum())

=== Missing Values (Before Cleaning) ===
Name      0
Age       4
Score     3
Joined    0
dtype: int64

## Step 3: Handle incorrect data types for Age

In [5]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert non-numeric ages to NaN

## Step 4: Handle incorrect data types for Score

In [6]:
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')  # Convert non-numeric scores to NaN

## Step 5: Fill missing values with mean

In [7]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Score'].fillna(df['Score'].mean(), inplace=True)

/tmp/ipython-input-2936514023.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2936514023.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(df['Score'].mean(), inplace=True)

## Step 6: Fix incorrect Joined date formats

In [8]:
df['Joined'] = pd.to_datetime(df['Joined'], errors='coerce')

## Step 7: Remove duplicate rows

In [9]:
df.drop_duplicates(inplace=True)

## Step 8: Summary after cleaning

In [10]:
print("\n=== Missing Values (After Cleaning) ===")
print(df.isnull().sum())

=== Missing Values (After Cleaning) ===
Name      0
Age       0
Score     0
Joined    2
dtype: int64

## Step 9: Final cleaned data

In [11]:
print("\n=== Cleaned Data ===")
print(df)

=== Cleaned Data ===
       Name   Age      Score     Joined
0     Alice  25.0  85.000000 2021-05-10
1       Bob  30.0  78.000000 2021-06-15
2   Charlie  30.0  80.727273 2021-07-01
3     David  28.0  88.000000 2021-05-10
4       Eve  27.0  85.000000        NaT
6     Frank  30.0  90.000000 2021-07-15
7     Grace  35.0  80.727273 2021-08-01
8    Hannah  40.0  95.000000 2021-08-10
9       Ian  22.0  60.000000        NaT
10     Jack  30.0  70.000000 2021-09-05
11    Kelly  29.0  80.727273 2021-09-15
12     Liam  33.0  80.727273 2021-09-25
13      Mia  30.0  77.000000 2021-10-01
14     Noah  31.0  82.000000 2021-10-10

## Step 10: Save cleaned dataset

In [12]:
df.to_csv('cleaned_data.csv', index=False)
print("\nCleaned data saved to 'cleaned_data.csv'")

Cleaned data saved to 'cleaned_data.csv'

## Step 11: Before vs After Comparison Table

In [13]:
comparison = pd.DataFrame({
    "Original Rows": [df_original.shape[0]],
    "Original Missing Values": [df_original.isnull().sum().sum()],
    "Cleaned Rows": [df.shape[0]],
    "Cleaned Missing Values": [df.isnull().sum().sum()]
})

In [14]:
print("\n=== Before vs After Summary ===")
print(comparison)

=== Before vs After Summary ===
   Original Rows  Original Missing Values  Cleaned Rows  \
0             15                        7            14

   Cleaned Missing Values
0                       2